Repository OrvilleQ/Godot-CI: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, next:standard, next:dotnet, test, test:standard, test:dotnet

.woodpecker/build.yaml:

when:
  branch: ${CI_REPO_DEFAULT_BRANCH}
  event: push
  path:
    include: ['Dockerfile*']

variables:
  - &standard Dockerfile
  - &dotnet Dockerfile.dotnet
  - &standard_platforms linux/amd64,linux/386,linux/arm64/v8,linux/arm/v7
  - &dotnet_platforms linux/amd64,linux/arm64/v8,linux/arm/v7
  - &cr ${CI_FORGE_URL:8}/${CI_REPO_OWNER,,}/godot-ci

steps:
  - name: artifact
    image: debian:12-slim
    commands:
      - sh artifact.sh

  - name: next:standard
    image: woodpeckerci/plugin-docker-buildx
    settings:
      dockerfile: *standard
      platforms: *standard_platforms
      provenance: false
      repo:
        - *cr
      tags: next
      logins:
        - registry: ${CI_FORGE_URL}
          username: ${CI_REPO_OWNER,,}
          password:
            from_secret: cr_token
    depends_on: artifact
    when:
      path: *standard

  - name: next:dotnet
    image: woodpeckerci/plugin-docker-buildx
    settings:
      dockerfile: *dotnet
      platforms: *dotnet_platforms
      provenance: false
      repo:
        - *cr
      tags: next-dotnet
      logins:
        - registry: ${CI_FORGE_URL}
          username: ${CI_REPO_OWNER,,}
          password:
            from_secret: cr_token
    depends_on: artifact
    when:
      path: *dotnet

.woodpecker/test.yaml:

when:
  branch:
    exclude: ${CI_REPO_DEFAULT_BRANCH}
  event: [push, pull_request]
  path:
    include: ['.woodpecker/*', 'Dockerfile*', '*.sh']


variables:
  - &standard Dockerfile
  - &dotnet Dockerfile.dotnet
  - &standard_platforms linux/amd64,linux/386,linux/arm64/v8,linux/arm/v7
  - &dotnet_platforms linux/amd64,linux/arm64/v8,linux/arm/v7
  - &cr ${CI_FORGE_URL:8}/${CI_REPO_OWNER,,}/godot-ci

steps:
  - name: artifact
    image: debian:12-slim
    commands:
      - sh artifact.sh

  - name: test:standard
    image: woodpeckerci/plugin-docker-buildx
    settings:
      dockerfile: *standard
      platforms: *standard_platforms
      provenance: false
      repo: *cr
      tags: test
      registry: ${CI_FORGE_URL}
      dry-run: true
    depends_on: artifact
    when:
      path:
        include:
          - *standard
          - '.woodpecker/*'
          - '*.sh'

  - name: test:dotnet
    image: woodpeckerci/plugin-docker-buildx
    settings:
      dockerfile: *dotnet
      platforms: *dotnet_platforms
      provenance: false
      repo: *cr
      tags: test-dotnet
      registry: ${CI_FORGE_URL}
      dry-run: true
    depends_on: artifact
    when:
      path:
        include:
          - *dotnet
          - '.woodpecker/*'
          - '*.sh'

build base image to reuse layer between godot flavours.
  .woodpecker/build.yaml
  .woodpecker/release.yaml
  .woodpecker/test.yaml
  Dockerfile
  Dockerfile.base
  Dockerfile.dotnet
Due: build, next:standard, next:dotnet, test, test:standard, test:dotnet

add itchio butler & SteamCMD
  .woodpecker/build.yaml
  .woodpecker/release.yaml
  .woodpecker/test.yaml
  Dockerfile
  Dockerfile.base
  Dockerfile.dotnet
  README.md
  SteamCMD.LICENSE
  TODO.md
  add.sh
  artifact.sh
  butler.sh
Due: build, next:standard, next:dotnet, test, test:standard, test:dotnet

reuse butler binary on gitea/forgejo instance.
  .woodpecker/build.yaml
  .woodpecker/release.yaml
  .woodpecker/test.yaml
  Dockerfile.base
  butler.sh
Due: build, test, test:standard, test:dotnet

use case to process $GODOT_CI_BUILDING_STAGE
  butler.sh
Due: test, test:standard, test:dotnet

Init rust package godot-ci
  .gitignore
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: none

Instructions on building
  README.md
Due: none

Clean code
  butler.sh
Due: test, test:standard, test:dotnet
